#divFormUpload {
    width: 300px;
    height: 150px;
    border: 2px solid #DDD;
    border-radius: 8px;
    float: left;
    background: #e1e1e1;
    border: 2px solid #808080;
    padding: 20px;
}

label.displayinline {
    display: inline;
}

#divProgress {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

.classDivPercentBar {
    background-color: #9DD0E4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

.classDivPercentText {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

/*ul {
    float: left;
    margin: 0;
}

    ul li {
        border-bottom: 1px dotted #DDD;
        display: block;
        padding: 5px 0;
    }

        ul li span {
            display: block;
        }*/